.container {
	position: relative;
	width: 100%;
	height: 100%;

	&#{__globals} {
		position: fixed;
		left: 0;
		top: 102px;
	}

	&#{__generator} {
		position: relative;
		width: $generator-width;
		// height: $generator-height;
		margin: 60px auto 0;

		@extend %clearfix;
	}
} 