$colors: (
	'pink'			  : #d5b39c,
	'light-blue'	  : #b5c4cd,
	'dark-blue'		  : #444a53,
	'deep-blue'	 	  : #2e3641,
	'grey'			  : #8e9298,
	'btn-border'	  : #94989d,
	'light-grey'	  : #f1f1f5,
	'red'			  : #f97e76,
	'settings-border' : #b7b0b4,
	'input-color'	  : #9eb2c0
);


$generator-width: 960px;
$generator-height: 669px;

$generator-result-w: 701px;

$generator-settings-w: 258px;